body{margin: 0;
font-family: Arial, Helvetica, sans-serif;}

.wrapper{width: 960px;
margin: auto;
background: #f5f0dd;}

h1{text-align: center;
padding-top: 150px;
font-size: 40px;
margin: 0;
color: #545353;}

p{text-align: center;
font-size: 16px;
padding-top: 20px;
color: #545353;}

form{display: flex;
justify-content: center;
padding: 50px 0 150px 0;}

input{background-color: #fff;
border: none;
margin-right: 20px;
width: 500px;
height: 50px;
padding-left: 30px;
border-radius: 5px;}



button{background: #fe2830;
width: 200px;
color: #fff;
font-size: 16px;
border: none;
border-radius: 5px;}

button:hover{border: 2px solid grey;
    box-shadow: 0px 1px 7px 2px #000000bf;;}

.overlay{position:absolute;
    z-index: 999;
    background: white;
    width: 100%;
    height: 100%;
    animation: reveal 1s ease-in forwards;
    transform-origin: bottom;}
    
    @keyframes reveal{
        from{transform: scaleY(1);}
        to{transform: scaleY(0);}
    }
    
    .wrapper{animation: growIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    transform: scale(.4);}
    
    @keyframes growIn {
        to{transform: scale(1);}
    }